.container {
    padding: 0;
}

.coverPage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.note1 {
    background-image: linear-gradient(rgba(224,204,167, 0), rgb(224,204,167, 1) 37%);
    width: 100vw;
    height: 100vh;
}

.coverTitle {
    font-family: Spectral;
    font-weight: 400;
    position: relative;
    top: 50%;
    left: 5%;
    max-width: 369px;
    z-index: 10;
}

.coverImg {
    z-index: -1;
}

.coverSpacer {
    display: block;
    width: 100vw;
    height: 100vh;
}

/* NOTE: to have a div with the width or height of a mobile screen using the
 property vw or vh, one must add 5 units to cover the entire screen. Supposedly
 adding these five units will help match the scale of the div as it is 
 on a desktop screen. */
@media only screen and (max-width: 850px) {
    .coverPage {
        flex: 1;
        position: fixed;
        width: 105vw;
        height: 105vh;
        z-index: -1;
    }
    .coverSpacer {
        display: block;
        width: 105vw;
        height: 105vh;
    }

    .note1 {
        background-image: linear-gradient(rgba(224,204,167, 0), rgb(224,204,167, 1) 37%);
        width: 105vw;
        height: 105vh;
    }
}