.container {
    padding: 0;
}

.coverPage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.note1 {
    background-image: linear-gradient(rgba(224,204,167, 0), rgb(224,204,167, 1) 37%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.note2 {
    background-image: linear-gradient(rgb(224,204,167), rgb(212, 193, 156) 15%);
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
.note3 {
    background-image: linear-gradient(rgb(212, 193, 156), rgb(224,204,167) 15%);
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.note4 {
    background-image: linear-gradient(rgb(224,204,167), rgb(212, 193, 156) 15%);
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.coverTitle {
    font-family: Spectral;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 20%;
    max-width: 369px;
    z-index: 10;
}

.letter1 {
    font-family: Spectral;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    position: relative;
    top: 0%;
    left: 10%;
    right: auto;
    max-width: 369px;
    z-index: 10;
}

.letter2 {
    font-family: Spectral;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: 0%;
    left: 10%;
    right: auto;
    max-width: 569px;
    z-index: 10;
}

.letter3 {
    font-family: Spectral;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: 0%;
    left: 10%;
    right: auto;
    max-width: 569px;
    z-index: 10;
}

.coverImg {
    z-index: -1;
}

.coverSpacer {
    display: block;
    width: 100vw;
    height: 100vh;
}

.potterCards {
    border-radius: 10px;
    max-width: 100px;
    max-height: 200px;
    border: 1px solid;
    border-color: darkgrey;
}

.dracoPic {
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 300px;
    max-height: 369px;
}

.cedricPic {
    position: absolute;
    top: 50%;
    right: 20%;
    max-width: 300px;
    max-height: 369px;
}

.tomPic {
    position: absolute;
    top: 10%;
    left: 20%;
    max-width: 300px;
    max-height: 369px;
}

.potterPic {
    position: absolute;
    top: 70%;
    left: 30%;
    max-width: 669px;
    max-height: 200px;
}

.meme1 {
    position: absolute;
    top: 49%;
    left: 30%;
    max-width: 240px;
    max-height: 569px;
}

.meme2 {
    position: absolute;
    top: 20%;
    right: 20%;
    max-width: 390px;
    max-height: 369px;
}

.meme3 {
    position: absolute;
    top: 50%;
    right: 20%;
    max-width: 390px;
    max-height: 369px;
}

.harryBroom {
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 500px;
    max-height: 369px;
}

.ginnyBroom {
    position: absolute;
    top: 35%;
    left: 10%;
    max-width: 500px;
    max-height: 369px;
}

.finalMeme {
    position: absolute;
    top: 17%;
    left: 30%;
    max-width: 500px;
    max-height: 369px;
}
/* NOTE: to have a div with the width or height of a mobile screen using the
 property vw or vh, one must add 5 units to cover the entire screen. Supposedly
 adding these five units will help match the scale of the div as it is 
 on a desktop screen. */
@media only screen and (max-width: 850px) {
    .coverPage {
        flex: 1;
        position: fixed;
        width: 105vw;
        height: 105vh;
        z-index: -1;
    }
    .coverSpacer {
        display: block;
        width: 105vw;
        height: 105vh;
    }

    .note1 {
        background-image: linear-gradient(rgba(224,204,167, 0), rgb(224,204,167, 1) 10%);
        width: 105vw;
        height: auto;
        padding-top: 100px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .note2 {
        background-image: linear-gradient(rgb(224,204,167), rgb(212, 193, 156) 15%);
        width: 105vw;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .note3 {
        background-image: linear-gradient(rgb(212, 193, 156), rgb(224,204,167) 15%);
        width: 105vw;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .note3 p {
        margin: 0;
    }
    .note4 {
        background-image: linear-gradient(rgb(224,204,167), rgb(212, 193, 156) 15%);
        width: 105vw;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .coverTitle {
        font-family: Spectral;
        font-weight: 400;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 369px;
        z-index: 10;
    }

    .letter1 {
        font-family: Spectral;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 369px;
        z-index: 10;
    }

    .letter2 {
        font-family: Spectral;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 369px;
        z-index: 10;
    }

    .letter3 {
        font-family: Spectral;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 369px;
        z-index: 10;
    }

    /* Classes for the thirsty pics of the wizards in the first page */
    .dracoPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 300px;
        max-height: 369px;
    }
    
    .cedricPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 300px;
        max-height: 369px;
    }
    
    .tomPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 300px;
        max-height: 369px;
    }
    
    .potterPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 669px;
        max-height: 200px;
    }
    
    /* Classes for the memes img in the second page */
    .meme1 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 240px;
        max-height: 569px;
    }
    
    .meme2 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 90%;
        max-height: 369px;
    }
    
    .meme3 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 90%;
        max-height: 369px;
    }

    .harryBroom {
        position: relative;
        top: auto;
        right: auto;
        max-width: 90%;
        max-height: 369px;
    }
    
    .ginnyBroom {
        position: relative;
        top: auto;
        left: auto;
        max-width: 90%;
        max-height: 369px;
    }

    .finalMeme {
        position: relative;
        top: auto;
        left: auto;
        max-width: 90%;
        max-height: 369px;
    }
}