.container {
    padding: 0;
}

.coverPage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.note1 {
    background-image: linear-gradient(rgba(224,204,167, 0), rgb(224,204,167, 1) 37%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.coverTitle {
    font-family: Spectral;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 20%;
    max-width: 369px;
    z-index: 10;
}

.coverImg {
    z-index: -1;
}

.coverSpacer {
    display: block;
    width: 100vw;
    height: 100vh;
}

.potterCards {
    border-radius: 10px;
    max-width: 100px;
    max-height: 200px;
    border: 1px solid;
    border-color: darkgrey;
}

.dracoPic {
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 300px;
    max-height: 369px;
}

.cedricPic {
    position: absolute;
    top: 50%;
    right: 20%;
    max-width: 300px;
    max-height: 369px;
}

.tomPic {
    position: absolute;
    top: 10%;
    left: 20%;
    max-width: 300px;
    max-height: 369px;
}

.potterPic {
    position: absolute;
    top: 70%;
    left: 30%;
    max-width: 669px;
    max-height: 200px;
}

/* NOTE: to have a div with the width or height of a mobile screen using the
 property vw or vh, one must add 5 units to cover the entire screen. Supposedly
 adding these five units will help match the scale of the div as it is 
 on a desktop screen. */
@media only screen and (max-width: 850px) {
    .coverPage {
        flex: 1;
        position: fixed;
        width: 105vw;
        height: 105vh;
        z-index: -1;
    }
    .coverSpacer {
        display: block;
        width: 105vw;
        height: 105vh;
    }

    .note1 {
        background-image: linear-gradient(rgba(224,204,167, 0), rgb(224,204,167, 1) 10%);
        width: 105vw;
        height: auto;
        padding-top: 100px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .coverTitle {
        font-family: Spectral;
        font-weight: 400;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 369px;
        z-index: 10;
    }

    .dracoPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 300px;
        max-height: 369px;
    }
    
    .cedricPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 300px;
        max-height: 369px;
    }
    
    .tomPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 300px;
        max-height: 369px;
    }
    
    .potterPic {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        max-width: 669px;
        max-height: 200px;
    }
}